body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-sizing: border-box;
  background-color: #333;
  margin: 0;
  padding: 0;
}

.container {
  background-color: #222;
  color: #f3f3f3;
  text-align: center;
  width: 90%;
  max-width: 650px;
  min-height: 300px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 2px 2px 150px #222;
  border-radius: 25px;
  border: 5px solid white;
}
.container h1 {
  font-size: 64px;
  color: purple;
}

nav {
  margin: 20px 0;
}

nav a {
  color: lightslategray;
  font-size: 16px;
  margin-left: 10px;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav a:hover,
nav a:focus {
  color: purple;
}

.active,
nav a:active {
  color: maroon;
}

img {
  width: 250px;
  margin-bottom: 20px;
  border: 10px solid grey;
}
